@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
    transition: all 0.2s ease !important;

}


iframe {
  margin-top: 60px;
}
/*Определяем пользовательские CSS переменные в корневом селекторе :root*/
:root {

/* Устанавливаем пользовательские CSS переменные */
  --blackpure: #000;
  --black: #0d101f;
  --black-border: #26292D;
  --white: #d1d8df;
  --grey: #5c626e;
  --orange: #bd7619;
  --green: #c7d496;
  --dgrey: #2a2c35;

  --text-color: var(--black);        

  --dark-bg: var(--dgrey);            
  --dark-border: var(--black-border); 
  --header-text: var(--white);       
  --accent: var(--orange);            

  --page-bg: var(--black);           
  --text-color: var(--white);       
  --header-bg: var(--grey);           
  --title-1: var(--accent);           
  --header-title: var(--dgrey);      
  --type-card-bg: var(--grey);    
  --type-card-text: var(--white); 
  --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25); 
}


html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: Noto Sans;
    letter-spacing: -0.5px;

    background-color: var(--page-bg);
    color: var(--text-color);
}

main, header, footer {
  overflow: hidden !important;
}

/* General */

.container {
    margin: 0 auto;
    border-radius: 5px;
    background-color: var(--dark-bg);
    padding: 10px;
    max-width: 1200px;
}

.container-chronos{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.none {
    display: none !important;
}

.section {
    background-color: var(--header-bg);
    margin: 0.2em 2em;
    border-radius: 5px;
    padding: 10px 0;
}

.title-1 {
    margin-bottom: 60px;

    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--title-1);
    text-align: center;
}

.title-2 {
    margin-bottom: 20px;

    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
}

/* Nav */

.nav {
    margin: 0 2em 0.2em;
    position: sticky;
    border-radius: 5px;
    border-bottom: 1px solid var(--dark-border);
    background-color: var(--dark-bg);
    color: var(--header-text);
    letter-spacing: normal;
}

.nav-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.logo {
    margin-right: auto;
    height: 5em;
}

.nav-list {
  z-index: 9999;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    align-items: center;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: Noto Sans;
}

.nav-list__link {
    color: var(--header-text);
    transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
    opacity: 0.8;
}

.nav-list__link--active {
    position: relative;
}

.nav-list__link--active::before {
    content: "";

    position: absolute;
    left: 0;
    top: 100%;

    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--accent);
}

/* Header */

.header {
    padding: 40px 0;
    margin: 0.2em 2em;
    border-radius: 5px;
    min-height: 695px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--header-bg);
    background-image: url('./../img/header-bg.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;

    color: var(--header-text);
    text-align: center;
}

.header__wrapper {
    padding: 0 15px;
    max-width: 660px;
}

.header__title {
    color: var(--header-title);
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
}

.header__title strong {
    font-size: 60px;
    font-weight: 700;
}

.header__title em {
    font-style: normal;
    color: var(--accent);
}

.header__text {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.333;
    color: var(--text-color);
}

.header__text p + p{
    margin-top: 0.5em;
}

.menu-switcher {
  position: relative;
  z-index: 99999999;
  display: none;
  flex-direction: column;
  transition: gap 0.4s ease-in-out;
  gap: 8px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
.menu-switcher__line {
  position: relative;
  transition: all 0.4s ease-in-out;
  width: 3.5rem;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.menu-switcher__line:focus {
  outline: none !important;
}
.menu-switcher__line:nth-child(1) {
  top: 0;
}
.menu-switcher__line:nth-child(3) {
  bottom: 0;
}

.menu-switcher_opened .menu-switcher__line:nth-child(1) {
  transform: rotate(45deg);
  top: 15px;
}
.menu-switcher_opened .menu-switcher__line:nth-child(2) {
  transform: rotate(-45deg);
}
.menu-switcher_opened .menu-switcher__line:nth-child(3) {
  bottom: 15px;
  transform: rotate(45deg);
}
.header__navigation_opened {
  left: 0 !important;
}
@media (max-width: 71.25em) {
  .menu-switcher {
    display: flex;
  }
  .logo {
    max-height: 3em;
  }
}

/* Btn */

.btn {
    display: inline-block;
    height: 48px;
    padding: 12px 28px;

    border-radius: 5px;
    background-color: var(--accent);
    color: var(--white);
    letter-spacing: 0.15px;
    font-size: 16px;
    font-weight: 500;

    transition: opacity 0.2s ease-in;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    position: relative;
    top: 1px;
}

/* Btn outline */

.btn-outline {
    display: flex;
    column-gap: 10px;
    align-items: center;

    height: 48px;
    padding: 40px 60px;

    border-radius: 5px;
    border: none;
    background-color: var(--white);
    color: var(--blackpure);

    transition: opacity 0.2s ease-in;
}

.btn-outline:hover {
    opacity: 0.8;
}

.btn-outline:active {
    position: relative;
    top: 1px;
}

/* types  */

.types {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.type {
    max-width: 370px;
    background-color: transparent;
}

.type p {
    padding: 10px 15px;
    line-height: 150%;
    text-align: justify;
    font-size: 18px;
}

.type__img {
    border-radius: 10px;
}

.type__img:hover {
  transform: scale(0.95);
}

.type__title {
    padding: 15px 20px 25px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    color: var(--type-card-text);
}

/* type details */

.type-details {
    margin: 0 auto;
    max-width: 865px;

    
}

.type-details__cover {
    
    float: left;
    max-width: 250px;
    border-radius: 10px;
    margin: 0.5em;
}

.type-details__desc {
    margin-bottom: 30px;
    float: left;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
}

/* Content list */

.content-list {
    margin: 0 auto;
    max-width: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    text-align: center;
}

.content-list a {
    color: var(--accent);
}

.content-list__item {
    font-size: 18px;
    line-height: 1.5;
}

.content-list__item p + p {
    margin-top: 0.5em;
}

/* Footer */

.footer {
    margin: 0.2em 2em;
    margin-top: auto;
    padding: 30px 0 20px;
    border-radius: 5px;
    background-color: var(--dark-bg);
    color: var(--header-text);
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 27px;
}

.social {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.copyright {
    font-size: 16px;
}

.copyright p + p {
    margin-top: 0.5em;
}

.contacts-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media (max-width:1437px) {
  .contacts-content-wrapper {
    flex-direction: column;
  }

  .contacts__feedback-form {
    margin: 30px auto 0;
}
}

.iframe {
  width: 560px;
  height: 315px;
}
option {
    color: #000;
}
.review-card {
  gap: 15px;
  padding: 15px 25px;
  border-radius: 15px;;
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: var(--type-card-bg);
}

.reviews-description{
  align-items: center;
}
.review-card-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.rate-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.review-card-body p {
  text-align: justify;
}
.review-card-header h3 {
  font-size: 24px;
}
.rate-count {
  font-size: 18px;
  font-weight: 400;
}

.rate-img {
  width: 18px;
}
.feedback-form {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 35em) {
    .feedback-form {
      align-items: stretch;
      width: 80%;
    }
  }
  @media (max-width: 26em) {
    .feedback-form {
      width: 100%;
    }
  }
  .feedback-form__inputs {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 1.875em;
  }
  @media (max-width: 71.25em) {
    .feedback-form__inputs {
      font-size: 1.4rem;
    }
    .iframe {
      max-width: 280px;
      max-height: 157.5px;
    }
  }
  .reviews-form {
    flex-direction: column;
    
  }
  @media (max-width: 35em) {
    .reviews-form {
      flex-direction: column;
    }
  }
  @media (max-width: 61.25em) {
    .feedback-form__inputs {
      font-size: 1.3rem;
    }
  }
  @media (max-width: 46em) {
    .feedback-form__inputs {
      font-size: 1.115rem;
    }
  }
  @media (max-width: 26em) {
    .feedback-form__inputs {
      font-size: 1rem;
    }
  }
  .feedback-form__personal-information {
    position: relative;
    display: flex;
    gap: 1.875em;
  }
  @media (max-width: 35em) {
    .feedback-form__personal-information {
      flex-direction: column;
    }
  }
  .feedback-form__input {
    width: 50%;
    padding: 0.9375em;
    border-radius: 5px;
    border: 4px solid var(--title-1);
    color: var(--type-card-text);
    font-weight: 500;
    line-height: normal;
  }
  .feedback-form__input::-moz-placeholder {
    color: var(--type-card-text);
    font-weight: 500;
    line-height: normal;
  }
  .feedback-form__input::placeholder {
    color: var(--type-card-text);
    font-weight: 500;
    line-height: normal;
  }
  @media (max-width: 35em) {
    .feedback-form__input {
      width: 100%;
    }
  }
  .feedback-form__user-message {
    resize: none;
    padding: 0.9375em;
    height: 12.375em;
    border-radius: 5px;
    border: 4px solid var(--title-1);
    color: var(--type-card-text);
    font-weight: 500;
    line-height: normal;
  }
  
  .reviews-form .feedback-form__user-message {
    height: 3.583em;
  }
  .reviews-form .feedback-form__input {
    width: 100%
  }
  .feedback-form__user-message::-moz-placeholder {
    color: var(--type-card-text);
    font-weight: 500;
    line-height: normal;
  }
  .feedback-form__user-message::placeholder {
    color: var(--type-card-text);
    font-weight: 500;
    line-height: normal;
  }
  .feedback-form__submit-button {
    align-self: center;
  }
  
  .feedback-form__submit-button {
    margin-top: 2.321428em;
    border-radius: 5px;
    border: 3px solid var(--accent);
    box-shadow: 13px 10px 30px #36351f;
  }
  .link {
    border-radius: 5px;
    background: var(--accent);
    display: inline-block;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 150%; /* 2.625rem */
    padding: 0.8571em 1.28571em;
    box-shadow: var(--box-shadow);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .link:active {
    background: #2b2409;
    color: #b9b089;
  }
  @media (hover: hover) {
    .link:hover {
      background: var(--white);
      color: var(--type-card-bg);
    }
  }
  @media (max-width: 71.25em) {
    .link {
      font-size: 1.25rem;
    }
  }
  @media (max-width: 25em) {
    .link {
      font-size: 1rem;
    }
  }
@media (max-width: 1140px) {
  .nav-list {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    font-size: 24px;
    border-radius: 5px;
    width: 320px;
    background-color: var(--dark-bg);
    top: 0;
    bottom: 0;
    left: -320px;
    }
  
}
@media (max-width: 620px) {

    /* Header  */

    .header {
        min-height: unset;
    }

    .header__title {
        font-size: 30px;
    }

    .header__title strong {
        font-size: 40px;
    }

    /* Nav */

    .nav-row {
        justify-content: space-between;
    }

    /* General */

    .section {
        padding: 40px 0;
    }

    .title-1 {
        margin-bottom: 30px;
        font-size: 40px;
    }

    .title-2 {
        margin-bottom: 10px;
        font-size: 30px;
    }

    /* types */

    .type__title {
        font-size: 22px;
    }

    /* type page */

    .type-details__desc {
        margin-bottom: 20px;
        font-size: 22px;
    }

    /* Content List */

    .content-list {
        row-gap: 20px;
    }

    .content-list__item {
        font-size: 16px;
    }

    /* Footer */

    .footer {
        padding: 40px 0 30px;
    }

    .footer__wrapper {
        row-gap: 20px;
    }

    /* Social */

    .social {
        column-gap: 20px;
    }

    .social__item {
        width: 28px;
    }

}


.chronos {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.chrono {
  width: 100%;
  background-color: var(--header-bg);
  padding: 20px 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.chrono:nth-child(1)
{
  background-color: var(--orange);
}
.chrono:nth-child(2)
{
  background-color: var(--green);
  color: var(--dgrey);
}
.chrono:nth-child(3)
{
  background-color: var(--orange);
}
.chrono:nth-child(4)
{
  background-color: var(--green);
  color: var(--dgrey);
}
.chrono:nth-child(5)
{
  background-color: var(--orange);
}
.chrono:nth-child(6)
{
  background-color: var(--green);
  color: var(--dgrey);
}
.chrono:nth-child(7)
{
  background-color: var(--orange);
}
.chrono:nth-child(8)
{
  background-color: var(--green);
  color: var(--dgrey);
}
.chrono:nth-child(9)
{
  background-color: var(--orange);
}

.chrono__title {
  font-size: 24px;
  font-weight: 600;
  user-select: none;
}
/* Убираем стандартный маркер Chrome */
details summary::-webkit-details-marker {
  display: none;
}

details summary::after{
  content: "ᐯ";
  position: absolute;
  right: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(1.2);
}

details summary {
  position: relative;
}

details[open] summary::after {
  transform: rotate(180deg) scale(1.2);
}

/* Убираем стандартный маркер Firefox */
details > summary {
  list-style: none;
}

.chrono__text {
  margin-top: 30px;
  font-size: 18px;
  text-align: justify;
}


